.postViewer {
  display: flex;
  margin-left: 5px;
  flex: 1 1 auto;
  flex-direction: column;
  width: 0;

  .content {
    display: flex;
    flex: 1 1 auto;

    .iframeView {
      flex: 1 1 auto;
    }
  }
}
