.postViewer {
  display: flex;
  margin-left: 5px;
  flex: 1 1 auto;
  flex-direction: column;
  width: 0;

  .content {
    display: flex;
    flex: 1 1 auto;

    .iframeView {
      flex: 1 1 auto;
    }

    // Image containment technique: http://stackoverflow.com/a/18606996
    // background-image supplied by js
    .imageView {
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
      flex: 1 1 auto;
    }
  }
}
