.main-view {
  display: flex;
  padding: 8px;
  flex: 1 1 auto;
  flex-direction: column;

  .header {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    height: 0;
  }
  
  .content {
    display: flex;
    flex: 8 1 auto;
    height: 0;

    .post-list {
      flex: 1 1 auto;
      overflow-y: scroll;
      width: 0;
    }

    .post-detail {
      flex: 1 1 auto;
      width: 0;
    }
  }
  
  .footer {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    height: 0;
  }
}
