.mainView {
  $footerHeight: 100px;

  /* Pass along min-height until main */
  min-height: 100%;

  /* Fixed header */
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

    .appbar {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
  
  /* Main element takes up at least height
   * of the window
   */
  main {
    min-height: 100%;

    // For sticky footer
    margin-bottom: -$footerHeight;
    padding-bottom: $footerHeight;

    .mainContainer {
      display: flex;
      padding-top: 10px;

      .post-list {
        flex: 1 1 auto;
        width: 0;
      }

      .post-detail {
        margin-left: 10px;
        flex: 1 1 auto;
        width: 0;
      }
    }
  }

  /* Sticky footer */
  footer {
    height: $footerHeight;
    background-color: #eee;
    padding-top: 35px;
  }
}
