.main-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    height: 0;
  }
  
  .content {
    display: flex;
    flex: 8 1 auto;
    height: 0;

    .post-list {
      flex: 1 1 auto;
      overflow-y: scroll;
      width: 0;
    }

    .post-detail {
      flex: 1 1 auto;
      width: 0;
    }
  }
  
  .footer {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    height: 0;
  }
}
