doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='css/lib/material.min.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='js/lib/require.js', data-main='js/app')

  body
    .container
      .header
        span Wat
      .content
        .master-panel
          // ko foreach: rows
          .row
            span.title(data-bind='text: title')
          // /ko

        .detail-panel
          // ko with: highlighted
          .title(data-bind='text: title')
          // /ko
      .footer
        span Wat
