doctype html
html
  head
    link(rel='stylesheet', href='css/material.min.css')
    script(src='js/lib/require.js', data-main='js/app')

  body
    .container
      .header
      .content
        .master-panel
          // ko foreach: rows
          .row
            span.title(data-bind='text: title')
          // /ko

        .detail-panel
          // ko with: highlighted
          .title(data-bind='text: title')
          // /ko
      .footer
