doctype html
html
  head
    // Global styles
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')

  body
    #container

    // CSS and JS
    script(src='bundle.js')
